@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);

/* /////home page starting////// */
html,
body {
    margin: 0px;
}

header {
    font-family: Raleway;
    margin: 0 auto;
    padding: 2em 3em 0.5em 1em;
    text-align: center;
    background-color: transparent;
}



header h1 {
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span {
    color: #222;
}

footer span {
    color: #AAA;
}

.container {
    font-family: Raleway;
    margin: 0 auto;
    padding: 2em 0em;
    text-align: center;
    font-size: 12px;
}

.container a {
    color: black;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.teal {
    background-color: transparent;
}

/* Border from Y to X  */
div.borderYtoX a:before,
div.borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: black;
    transition: all 0.3s;
}

div.borderYtoX a:before {
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before,
div.borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}

#mission {
    font-family: Raleway;
    /* top right bottom left  */
    line-height: 2;
    font-weight: 400;

 color: white;
 font-size: 30px;
 margin-bottom: -30px;
      
}
#butterfly
{
    opacity: 0.7;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#whyus {
    font-family: Raleway;
    margin: 0 auto;
    text-align: center;
    background-color: #d3fef1 ;
   color: black;
    line-height: 2;
    font-weight: 500;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    


}
#entire 
{
    display: flex;

}
#image
{
    margin-top: 50px;
    margin-left: 50px;
}


#stats {
    font-family: Raleway;
    background-color:#90b717 ;
    padding-bottom: 1px;
    text-align:center;
    color: white;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 850px;

}

#wh {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    color: black;



}
#wh div
{
    font-size: 30px;
    margin-right: 70px;

}
#wh div:nth-child(1) {
    margin-left: 100px;
}

#less {
    color: black;
    font-size: 30px;
    font-weight: 100;
}

#btn {
    color: black;
    font-size: 40px;
    font-weight: 100;
    padding-top: 20px;
}

#abus {
    font-family: Raleway;
    background-color: #315101;
    color: white;
    line-height: 1.8;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 1px;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;}

#forflex {
    display: flex;}

    #ns{
        flex: 1.5;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
        background-color: #4aaf74 ;
        margin-bottom: 20px;
    }
    #og{
        flex: 2;
        background-color: #67eaa9 ;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        margin-bottom: 20px;

    }

   
#sls {
    text-align: center;
}
#impact {
    background-color: #644e39 ;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #dcd9d8;


}

#entireimpact {
    display:flex;
}
#image2
{
    margin-top: 200px;
    margin-left: -200px;
    margin-right: 50px;

}
#i12 {
   border: 5px solid #644e39;
}

#it {
    text-align: center;
    font-family: Raleway;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 1.8;
    font-size: 20px;
    color: white;
    font-weight: 100;
}

.custom-btn {
    width: 800px;
    height: 150px;
    color: black;
    border-radius: 5px;
    
    font-family: Raleway;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    text-align: center;
    font-size: 30px;
  position: relative;
 margin-left: auto;
 margin-right: auto;
}

/* 5 */
.btn-5 {
    width: 800px;
    height: 150px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #fbbf10;
    background: linear-gradient(0deg, #E5F9DB 0%, #E5F9DB, 100%);
}

.btn-5:hover {
    color: #E5F9DB;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #E5F9DB;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#gi {
    width: 100%;
    height: 300px;

}

#like {
    font-size: 20px;
    font-weight: 100;
}

* {
    padding: 0;
    margin: 0;
}

.value {
    font-size: 50px;
    display: block;
    font-weight: bold;
    color: black;
}

video {
    /* position: absolute;
  top: 0;
  left: 0; */
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.overlay h2 {
    color: white;
    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
    margin-top: -600px;
}

@media screen and (max-width: 728px) {
    #text {
        margin-left: 30px;
        margin-right: 30px;
    }

    @media screen and (max-width: 728px) {
        #mission {
            margin-left: 10px;
            margin-right: 10px;
            line-height: 1.2;
        }}

        @media screen and (max-width: 728px) {
            #whyus {
                margin-left: 10px;
                margin-right: 10px;
                line-height: 50.2px;
            }}

            @media screen and (max-width: 728px) {
                #it {
                    margin-left: 10px;
                    margin-right: 10px;
                    line-height: 50.2px;
                }}

                @media screen and (max-width: 728px) {
                    .btn-5 {
                        width: 200px;x
                        height: 60px;
                        line-height: 4px;
                        margin-left: 90px;
                         margin-top: 90px;
                    }}

                    @media screen and (max-width: 728px) {
                        #like {
                            font-size: 10px;
                        }}
                        @media screen and (max-width: 728px) {
                            #getinv{
                                font-size: 30px;
                            }}
                        @media screen and (max-width: 728px) {
                            #wh {
                                flex-direction: column;
                            }}}
/* /////home page ending////// */

/* /////join starting////// */
#vol
{
    font-family: Raleway;
    font-size: 20px;
    text-align: center;

}
#vol h2 {
    font-weight: 400;
}
#why 
{
    font-family: Raleway;
 
    text-align: center;
    line-height: 2;
    padding-bottom: 20px;
    padding-top: 20px;
}
#why h1
{
    font-weight: 500;

}
#why p
{
    font-size: 20px;
}
#types 
{
    display: flex;
    font-family: Raleway;
    line-height: 2;
   
    text-align: center;
}
#imagearray
{
    display: flex;
}
#con
{
    background-color:#27d1a8;
    padding-top: 20px;


}
#dis
{
    background-color: #4aaf74 ;
    padding-top: 20px;
 
}
#gs
{
    background-color:#67eaa9;
    padding-top: 20px;

    
}
#con, #dis, #gs
{
    padding-left: 20px;
    padding-right: 20px;

}
#qs
{
    font-style: italic;
    padding-bottom: 20px;
}
 .btn-6 {
    width: 200px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: white;
    border-radius: 10px;
  background: linear-gradient(0deg, #E5F9DB 0%, #E5F9DB, 100%);
  font-size: 12px;
  margin: auto;
  }
  .btn-6:hover {
    color:white;
    background: transparent;
     box-shadow:none;
  }
  .btn-6:before,
  .btn-6:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: white;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-6:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-6:hover:before,
  .btn-6:hover:after{
    width:100%;
    transition:800ms ease all; 
  }

  .btn-primary {
    width: 200px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    border: none;
    background:white;
    border-radius: 10px;
  background: linear-gradient(0deg, #E5F9DB 0%, #E5F9DB, 100%);
  font-size: 12px;
  margin: auto;
  }
  .btn-primary:hover {
    color:#E5F9DB;
    background: transparent;
     box-shadow:none;
  }
  .btn-primary:before,
  .btn-primary:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #E5F9DB;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-primary:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-primary:hover:before,
  .btn-primary:hover:after{
    width:100%;
    transition:800ms ease all; 
  }
  @media screen and (max-width: 728px) {
    #types {
        flex-direction:column;
  }
}

/* /////join ending////*/

/* ////about us starting////*/
#mission2 {
    font-family: Raleway;
    margin: 0 auto;
	padding: 2em 3em 0em 1em; 
/* top right bottom left  */
	text-align: center;
    background-color:transparent;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 2;
    font-weight: 600;
    color:#67eaa9;


}

#split
{ font-family: Raleway;
    background-color:transparent;
    line-height: 2;
    font-weight: 500;
    font-size: 12px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    font-size: 20px;

}
.words
{
    color: #A0D8B3;
}
:root {
    --primary: #4aaf74 ;
    --secondary: #e4b2c3;
    --background: #eee;
    --highlight: #ffda79;
    /* Theme color */
    --theme: var(--primary);
  }
  /* body {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, min(100%, 30rem));
    min-height: 100vh;
    place-items: start;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    color: var(--primary);
    background: var(--background);
    
  } */
  
  /* Core styles/functionality */
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
  }
  .tab input:checked ~ .tab__content {
    max-height: 10rem;
  }
  
  /* Visual styles */
  .accordion {
    color: var(--theme);
    border: 2px solid;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
  }
  .tab__label,
  .tab__close {
    display: flex;
    color: white;
    background: var(--theme);
    cursor: pointer;
  }
  .tab__label {
    justify-content: space-between;
    padding: 1rem;
  }
  .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
  }

  @media screen and (max-width: 728px) {
    #mission2 {
        margin-left:10px;
        margin-right:10px;
  }}
  @media screen and (max-width: 728px) {
    #as {
        margin-left:10px;
        margin-right:10px;
        font-size: 20px;} }

    #image1 {
        height: 100px;
        width: 50px;
    }
    * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
        /* ///////about us ending/////// */

        /*///////contact us starting///////*/
        h4 {
            font-family: Raleway;
            font-weight: 400;
            font-size: 20px;
            color: white;
            line-height: 1.5;
        }
        
        input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
            font-size: 0.75em;
            color: white;
            top: 5px;
            -webkit-transition: all 0.225s ease;
            transition: all 0.225s ease;
        }
        
        .styled-input {
            /* float: left; */
            width: 293px;
            margin: 1rem 1rem 1rem 1rem;
            position: relative;
            border-radius: 4px;
        }
        
        @media only screen and (max-width: 768px){
            .styled-input {
                width:100%;
            }
        }
        
        .styled-input label {
            color: black;
            padding: 1.3rem 30px 1rem 30px;
            position: absolute;
            top: 10px;
            left: 0;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
            pointer-events: none;
        
        }
        
        .styled-input.wide { 
            width: 400px;
            max-width: 100%;
        }
        
        input,
        textarea {
            padding: 30px;
            border: 0;
            width: 400px;
            font-size: 1rem;
            background-color: #27d1a8 ;
            color: black;
            border-radius: 4px;
            margin-bottom: 30px;

        }
        
        input:focus,
        textarea:focus { outline: 0; }
        
        input:focus ~ span,
        textarea:focus ~ span {
            width: 400px;
            -webkit-transition: all 0.075s ease;
            transition: all 0.075s ease;
        }
        
        textarea {
            width: 400px;
            min-height: 15em;
        }
        
        .input-container {
            width: 400px;
            margin: 20px 20px 25px 20px;
            margin: auto;
            display: inline-block;
        }
        
        .submit-btn {
            /* float: right; */
            padding: 7px 35px;
            border-radius: 60px;
            display: inline-block;
            background-color: #4b8cfb;
            color: white;
            font-size: 18px;
            cursor: pointer;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
                      0 2px 10px 0 rgba(0,0,0,0.07);
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
        
        .submit-btn:hover {
            transform: translateY(1px);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
                      0 1px 1px 0 rgba(0,0,0,0.09);
        }
        
        @media (max-width: 768px) {
            .submit-btn {
                width:100%;
                /* float: none; */
                text-align:center;
            }
        }
        
        input[type=checkbox] + label {
          color: white;
          font-style: italic;
        } 
        
        input[type=checkbox]:checked + label {
          color: #FFEEF4;
          font-style: normal;
        }
        footer 
        {
            font-family: Raleway;
            margin: 0 auto;
            padding: 5em 3em;
            text-align: center;
            background:#65451F;
            ;
        }
        footer span
        {
          color: #AAA;
        }
        #form 
        {
            width: 400px;
            margin: auto;
    
        }
        @media screen and (min-width: 728px) {
            #form {
                width: 300px;
            
          }
        #submitbtn
        {
            margin-top:20px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
           
         
        }
        
        }
        /*////contact us ending///////*/ 
        /* donate starting*/
        .donation-container {
            height: 1500px;
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 30px;
        }
        
        .donation-box {
            width: 800px;
            height: 450px;
            background-color: #F5F5F5;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }
        
        .donation-box .title {
            background-color: #4aaf74;
            width: 100%;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: white;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 15px;
        }
        
        .donation-box .donate-button {
            background-color: #4aaf74 ;
            width: 100%;
            color: white;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 18px;
            bottom: 0px;
            position: absolute;
            cursor: pointer;
            font-weight: 800;
        }
        
        .donation-box .fields {
            width: 59%;
            display: block;
            position: absolute;
            top: 60px;
            left: 15px;
        }
        
        .donation-box .fields input {
            width: 90%;
            font-size: 17px;
            padding: 10px;
            border-radius: 4px;
            border-width: 0px;
            color: #644e39;
            font-family: 'Raleway';
            font-weight: 500;
            margin-bottom: 10px;
            -webkit-font-smoothing: antialiased;
        }
        
        ::-webkit-input-placeholder {
           color: black;
           font-size: 15px;
        }
        
        :-moz-placeholder { /* Firefox 18- */
           color: white;
           font-size: 15px;
        }
        
        ::-moz-placeholder {  /* Firefox 19+ */
           color: #cdcdcd;
           font-size: 15px; 
        }
        
        :-ms-input-placeholder {  
           color: #cdcdcd;
           font-size: 15px;
        }
        
        .donation-box .amount {
            width: 30%;
            display: block;
            position: absolute;
            top: 60px;
            right: 15px;
        }
        
        .donation-box .amount .button {
            width: 100%;
            background-color: gray;
            margin-bottom: 10px;
            text-align: center;
            color: white;
            padding: 15px 0px 15px 0px;
            border-radius: 4px;
            font-size: 20px;
            cursor: pointer;
            
            -webkit-transition: 400ms background-color;
            -moz-transition: 800ms opacity, 800ms right;
            -ms-transition: 800ms opacity, 800ms right;
            -o-transition: 800ms opacity, 800ms right;
            transition: 200ms background-color;
        }
        
        .donation-box .amount .button:hover {
            background-color: #393939;
        }
        
        .donation-box .amount .button.selected {
            background-color: #393939;
        }
        
        .donation-box .amount .button input {
            min-width: 34px;
            font-size: 20px;
            font-weight: 500;
            border: none;
            background-color: transparent;
            color: white;
            font-family: 'Raleway';
            font-size: 20px;
            font-stretch: normal;
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            border-bottom: 2px dashed white;
            -webkit-font-smoothing: antialiased;
            
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }
        
        .set-amount {
            max-width: 96px;
        }
        
        .switch {
          position: absolute;
          top: 190px;
          left: 15px;
          margin: 20px auto;
          height: 26px;
          width: 58.5%;
          background: #4aaf74;
          border-radius: 3px;
        }
        
        .switch-label {
          position: relative;
          z-index: 2;
          float: left;
          width: 49%;
          line-height: 26px;
          font-size: 11px;
          color: #5C5C5C;
          text-align: center;
          cursor: pointer;
          font-weight: bold;
        }
        .switch-label:active {
          font-weight: bold;
        }
        
        .switch-label-off {
          padding-left: 2px;
        }
        
        .switch-label-on {
          padding-right: 2px;
        }
        
        .switch-input {
          display: none;
        }
        .switch-input:checked + .switch-label {
          font-weight: bold;
          color: rgba(0, 0, 0, 0.65);
          
          -webkit-transition: 0.15s ease-out;
          -moz-transition: 0.15s ease-out;
          -o-transition: 0.15s ease-out;
          transition: 0.15s ease-out;
        }
        .switch-input:checked + .switch-label-on ~ .switch-selection {
          left: 114px;
        }
        
        .switch-selection {
          display: block;
          position: absolute;
          z-index: 1;
          top: 2px;
          left: 2px;
          width: 50%;
          height: 22px;
          background: #65bd63;
          border-radius: 3px;
          background-color: #d3fef1;
          
          -webkit-transition: left 0.15s ease-out;
          -moz-transition: left 0.15s ease-out;
          -o-transition: left 0.15s ease-out;
          transition: left 0.15s ease-out;
        }
        
        .checkboxes {
            position: absolute;
            top: 242px;
            left: 13px;
        }
        
        .checkboxes label {
            position: relative;
            top: -8px;
            font-size: 13px;
            color: gray;
        }
        
        .checkbox {
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #27d1a8;
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }
        
        .checkbox:active, .checkbox:checked:active {
            
        }
        
        .checkbox:checked {
            background-color:#27d1a8;
            border: 1px solid #27d1a8;
            color: white;
        }
        
        .checkbox:checked:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            background-color: #27d1a8;
        }
        
        .confirm {
            display: none;
            position: absolute;
            top: 335px;
            left: 15px;
            right: 15px;
            font-size: 16px;
            
            -webkit-transition: all 0.15s ease-out;
            -moz-transition: all 0.15s ease-out;
            -o-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }
        
        .confirm i {
            font-weight: bold;
            text-decoration: underline;
            font-style: normal;
        }
        #receipt, #anon, #list {
            color: black;
        }
        #we {
            font-family: 'Raleway';
            text-align: center;
        }
        .site-footer
{
  background-color:#5d8ea5
  ;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#A0D8B3;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links li a
{
  color:white;
  font-size: 15px;

}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#27d1a8 ;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  
  text-align: center;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}